@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(19, 64%, 54%);
  --first-color-alt: hsl(19, 64%, 52%);
  --title-color: hsl(19, 16%, 15%);
  --text-color: hsl(19, 16%, 35%);
  --text-color-light: hsl(19, 8%, 55%);
  --body-color: hsl(19, 100%, 96%);
  --container-color: hsl(19, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --title-font: "Lora", serif;
  --subtitle-font: "Dancing Script", cursive;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 0.4s; /* for dark mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section_title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
}

.section_subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-family: var(--subtitle-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.section_title, 
.section_subtitle {
  text-align: center;
}
.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/

.header{
  position: fixed;
  width: 100%;
  background-color:  var(--body-color);
  top:0;
  left: 0;
  z-index: var(--z-fixed);
  transition: box-shadow .3s background .4s;
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_togle,
.nav_close{
display: flex;
color: var(--title-color);
}

.nav_logo{
  align-items: center;
  column-gap: .5rem;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  font-weight:var(--font-semi-bold);
  transition: .5s;
}

.nav_logo img{
  width: 25px;
}

.nav_logo:hover{
  color: var(--first-color)
}

.nav_togle{
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav_menu{
    position: fixed;
    top:-100%;
    left:0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
    padding-block: 3.5rem;
    transition: top .4s;
  }
}

.nav_list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}
.nav_link{
  color:var(--title-color);
  font-weight: var(--font-medium);
  transition: color .2s;
}

.nav_link:hover{
  color: var(--first-color);
}

.nav_close{
  position: absolute;
  top:1rem;
  right:1.5rem;
  font-size: 1.5rem;
  cursor:pointer;
}

.nav_img1,
.nav_img2{
  position:absolute;
  opacity: .2;
}

.nav_img1{
  width: 100px;
  top: .75rem;
  left: -2rem;
  transform:rotate(165deg);
}

.nav_img2{
  width: 50px;
  bottom: 0;
  right: -1rem;
  transform:rotate(-30deg);
}
/* Show menu */

.show-menu{
  top:0;
}


/* Change background header */
.bg-header{
  box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
}

/* Active link */


/*=============== HOME ===============*/

.home{
  position: relative;
}

.home_container{
  row-gap: 3rem;
  padding-top: 2rem;
}

.home_img{
  width:300px;
  justify-self: center;
}

.home_data{
  text-align: center;
}

.home_title{
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
  margin-bottom: 1rem;
}

.home_title img{
  width: 40px;
}

.home_title div{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.home_description{
  padding: 0 1rem;
  margin-bottom: 2.5rem;
}

.home_leaf-2,
.home_leaf-1{
  position:absolute;
  opacity: .2;
}

.home_leaf-1{
  width: 80px;
  top: 8rem;
  left:-1rem;
  transform: rotate(90deg);
}

.home_leaf-2{
  width: 100px;
  bottom: 8rem;
  right:-2rem;
  transform: rotate(-15deg);
}

/*=============== BUTTON ===============*/

.button{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background: var(--first-color);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: #fff;
  font-weight: var(--font-medium);
}

/*=============== ABOUT ===============*/
.about{
  position: relative;
}
.about_container{
  row-gap: 3rem;
}
.about_data{
text-align: center
}
.about_title img{
  width: 30px;
}

.about_title div{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
}

.about_img{
  width: 300px;
  justify-self: center;
}

.about_leaf{
  width: 100px;
  opacity: .2;
  position: absolute;
  right:-1.5rem;
  bottom: 11rem;
  transform: rotate(-15deg);
}


/*=============== POPULAR ===============*/


/*=============== RECENTLY ===============*/


/*=============== NEWSLETTER ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */